<!-- page-content  -->
<main class="page-content pt-2">
	<div class="overlay"></div>

	<div class="container mb-4">
		<div class="row">
			<div class="form-group col-md-12">
				<a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">
					<i class="fa fa-bars"></i>
				</a>
				<a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
					<i class="fa fa-map-marker-alt"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container text-center mb-5">
		<div class="row">
			<div class="col-md-12">
				<h2>{{meta.title}}</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row row-eq-height">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-orange">
						<h3 class="card-title text-center">Tips and Tricks 1</h3>
						<hr>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut erat vulputate, eleifend
							nulla quis, porta urna. Nam ac euismod neque. Vestibulum quis suscipit est. Vivamus
							imperdiet rutrum elementum. Praesent vestibulum neque eu arcu lacinia, in semper urna
							laoreet. Proin et pulvinar est, eget dignissim sapien. Vestibulum ante ipsum primis in
							faucibus orci luctus et ultrices posuere cubilia Curae; Duis vel felis vitae ex semper
							molestie et eget sapien. Proin vel tempus nisl. Vivamus posuere et nisl vitae tincidunt.
							Suspendisse magna arcu, tempus quis odio non, posuere euismod nunc. Quisque vel vestibulum
							dolor. Curabitur porttitor ornare lobortis. Nulla facilisis metus nec lorem facilisis, eu
							ornare leo pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus.
						</p>
						<p class="card-text">
							Nunc scelerisque sollicitudin arcu. Aliquam erat volutpat. Integer elit tortor, pretium ac
							ornare quis, tempus ac metus. Donec congue justo non augue dictum efficitur. Suspendisse id
							nisi hendrerit, gravida mi sit amet, eleifend sapien. Aliquam ligula dui, commodo et egestas
							in, facilisis et sapien. Morbi dapibus magna et urna laoreet finibus. Praesent non
							ullamcorper lectus, convallis dictum quam.
						</p>
						<p class="card-text">
							Vestibulum vel lacinia ipsum, non imperdiet felis. Morbi a turpis faucibus, tincidunt mi ac,
							ornare metus. Donec vel risus metus. Sed vitae dui arcu. Nullam eget fermentum enim. Nam
							ultrices tellus risus, ac ultrices sem mollis ac. Cras ultricies malesuada nisi at
							pellentesque. Cras a leo non enim iaculis gravida et sed nulla. Nam interdum diam vitae
							vestibulum scelerisque. Duis commodo dolor in nisi egestas, vitae pulvinar lectus suscipit.
							Suspendisse quam lacus, egestas sit amet euismod id, imperdiet eu massa. Integer sagittis
							aliquam rutrum. Ut elit nunc, fringilla non risus vitae, dignissim placerat enim. Maecenas
							pharetra tristique mi, quis sollicitudin nulla imperdiet quis.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-orange">
						<h3 class="card-title text-center">Tips and Tricks 2</h3>
						<hr>
						<p class="card-text">
							Vivamus ipsum velit, eleifend eget molestie vel, condimentum sit amet ligula. In a erat
							metus. Vivamus sed tempus arcu. Vestibulum vestibulum risus neque, id varius ante
							scelerisque eu. Proin dictum velit sed luctus blandit. Praesent ex erat, porttitor eu erat
							porta, convallis vestibulum ex. Etiam vitae tempus tellus. Nam rutrum facilisis augue et
							finibus. Cras in sapien pulvinar, posuere turpis id, tempor quam. Pellentesque accumsan
							risus quam, semper pharetra nulla convallis vitae. Nunc sodales, lorem quis aliquet aliquet,
							est erat vestibulum orci, et efficitur neque sem congue ex. Pellentesque iaculis lorem sed
							arcu mattis, nec convallis risus pretium. Curabitur justo libero, interdum vel est sit amet,
							auctor dictum ante. Cras egestas, risus a pellentesque pharetra, magna arcu condimentum
							nunc, at finibus orci lacus nec quam. Nullam pharetra placerat magna, in tristique nunc
							posuere quis.
						</p>
						<p class="card-text">
							Etiam sodales rhoncus convallis. Quisque feugiat porttitor interdum. Ut semper porttitor
							lectus, eget bibendum elit ultrices sed. Ut fringilla mi nulla, vitae elementum quam iaculis
							a. Etiam tempus id mauris eget accumsan. Nulla facilisi. Phasellus nec molestie nunc, sit
							amet mollis augue. Fusce tincidunt sapien id justo convallis, in rutrum mauris consequat.
							Nulla pulvinar, nisi id suscipit pharetra, nisi turpis viverra velit, a ultrices nisl felis
							quis quam. Nunc quis neque velit.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- page-content -->
