<!-- page-content  -->
<main class="page-content pt-2">
	<div class="overlay"></div>

	<div class="container mb-4">
		<div class="row">
			<div class="form-group col-md-12">
				<a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">
					<i class="fa fa-bars"></i>
				</a>
				<a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
					<i class="fa fa-map-marker-alt"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{meta.title}}</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card border-top-green">
					<div class="card-body">
						<div id="engagement-chart"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card border-top-green">
					<div class="card-body">
						<h5 class="card-title text-center">Engagement 1</h5>
						<hr>
						<p class="card-subtitle mb-2 text-muted">

							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget placerat felis, et
							tincidunt metus. Proin egestas mauris ac ipsum molestie porttitor. Maecenas tempus massa a
							felis mattis semper. Curabitur lacinia felis at dui lobortis aliquet. Sed eget orci diam.
							Praesent nec augue at turpis mollis ultrices. Cras pretium molestie accumsan. Aenean
							convallis facilisis efficitur. In id pellentesque risus, semper molestie ligula.
						</p>
						<h1 class="card-text bold-number">21%</h1>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card border-top-green">
					<div class="card-body">
						<h5 class="card-title text-center">Engagement 2</h5>
						<hr>
						<p class="card-subtitle mb-2 text-muted">

							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget placerat felis, et
							tincidunt metus. Proin egestas mauris ac ipsum molestie porttitor. Maecenas tempus massa a
							felis mattis semper. Curabitur lacinia felis at dui lobortis aliquet. Sed eget orci diam.
							Praesent nec augue at turpis mollis ultrices. Cras pretium molestie accumsan. Aenean
							convallis facilisis efficitur. In id pellentesque risus, semper molestie ligula.
						</p>
						<h1 class="card-text bold-number">79%</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- page-content -->
