<!-- page-content  -->
<main class="page-content pt-2">
	<div class="overlay"></div>

	<div class="container mb-4">
		<div class="row">
			<div class="form-group col-md-12">
				<a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">
					<i class="fa fa-bars"></i>
				</a>
				<a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
					<i class="fa fa-map-marker-alt"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>{{meta.title}}</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card border-top-purple">
					<div class="card-body">
						<div class="row text-center exports-icons">
							<div class="col-md-4">
								<i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover"
								   data-trigger="hover" data-placement="bottom"
								   data-content="Export your Instagram Analytics to PDF format."
								   style="position: absolute; right: 5rem;" data-original-title="" title=""></i>
								<i class="fa fa-file-pdf"></i>
								<br><br>
								<h4>PDF report</h4>
							</div>

							<div class="col-md-4">
								<i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover"
								   data-trigger="hover" data-placement="bottom"
								   data-content="Export your Instagram Analytics to Excel Cheatsheet."
								   style="position: absolute; right: 5rem;" data-original-title="" title=""></i>
								<i class="fa fa-file-excel"></i>
								<br><br>
								<h4>Excel report</h4>
							</div>

							<div class="col-md-4">
								<i class="fa fa-info-circle" aria-hidden="true" data-toggle="popover"
								   data-trigger="hover" data-placement="bottom"
								   data-content="Export your Instagram Analytics to PNG image."
								   style="position: absolute; right: 5rem;" data-original-title="" title=""></i>
								<i class="fa fa-file-image"></i>
								<br><br>
								<h4>PNG report</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- page-content -->
