<!-- page-content  -->
<main class="page-content pt-2">
	<div id="overlay" class="overlay"></div>
	<div class="container-fluid p-5">
		<div class="row">
			<div class="form-group col-md-12">
				<h2>Analytics</h2>
				<p>dzimiks</p>
			</div>
		</div>
	</div>
</main>
<!-- page-content -->
