<!-- page-content  -->
<main class="page-content pt-2">
	<div class="overlay"></div>

	<div class="container mb-4">
		<div class="row">
			<div class="form-group col-md-12">
				<a id="toggle-sidebar" class="btn btn-secondary rounded-0" href="#">
					<i class="fa fa-bars"></i>
				</a>
				<a id="pin-sidebar" class="btn btn-outline-secondary rounded-0" href="#">
					<i class="fa fa-map-marker-alt"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center mb-5">
				<h2>{{meta.title}}</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row row-eq-height">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">
							Which media can I post directly to Instagram with automatic posting?
						</h3>
						<hr>
						<div class="card-text">
							<p>
								With our new automatic posting feature, there are certain criteria that your image must
								follow:
							</p>

							<p>
								NOTE: we've now added 4:5 and 1.91:1 cropping options to our Scheduler to help get your
								image just right!
							</p>

							<p>Single images must follow these specifications:</p>

							<ul>
								<li>
									Maximum file size: 8MB
								</li>
								<li>
									We support JPEG, PNG, BMP, and non-animated GIFs
								</li>
								<li>
									Must be within a 4:5 to 1.91:1 aspect ratio range
								</li>
								<li>
									Minimum resolution: 150x150 (lower resolutions will be scaled up to the minimum)
								</li>
								<li>
									Maximum resolution: 1920x1080 (higher resolutions will be scaled down to the
									maximum)
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">Question 2</h3>
						<hr>
						<p class="card-text">
							Praesent at pharetra mauris. In ac iaculis quam. Pellentesque id enim sit amet lorem
							imperdiet tempor. Vestibulum fringilla convallis nulla at aliquet. Nullam condimentum diam
							sit amet orci malesuada, et iaculis turpis faucibus. Donec nec ante fringilla, luctus risus
							ac, viverra ipsum. Integer consectetur elit quis ligula ultricies, ut cursus magna congue.
							Aliquam at ipsum ut justo tempus sodales. Praesent mattis nibh in lobortis commodo.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">Question 3</h3>
						<hr>
						<p class="card-text">
							Fusce posuere eget lorem vel scelerisque. Cras quis ullamcorper massa. Pellentesque habitant
							morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed viverra
							fringilla nunc, sed blandit diam iaculis at. Phasellus feugiat non magna in luctus.
							Suspendisse elit lorem, egestas a consequat sed, malesuada vel eros. Donec blandit massa at
							dui vulputate, a sagittis nisi vestibulum. Cras commodo eleifend vestibulum. Donec
							vestibulum, sem a eleifend bibendum, neque turpis consectetur tellus, quis aliquet tortor
							odio ac dui. In eu ligula sed mauris imperdiet cursus vel in justo.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">Question 4</h3>
						<hr>
						<p class="card-text">
							Aliquam dapibus turpis vitae vehicula faucibus. Vestibulum id tempus leo. In laoreet nibh
							sit amet mauris suscipit facilisis. Morbi euismod leo non consequat sodales. Vestibulum eu
							mauris eget sem fringilla congue et vitae tortor. In vel orci viverra, varius arcu at,
							vehicula justo. Nullam mattis in nulla laoreet accumsan.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">Question 5</h3>
						<hr>
						<p class="card-text">
							Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin
							condimentum dictum turpis, at eleifend magna volutpat ut. Phasellus efficitur arcu ut
							sodales euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin congue
							a justo eu blandit. Donec scelerisque lectus sapien, sed malesuada dolor vestibulum in.
							Morbi id augue consequat, posuere elit at, gravida lectus. Phasellus gravida urna quis
							mauris pharetra feugiat. Nunc diam augue, suscipit a dignissim at, varius eu libero. Integer
							vulputate, sapien at venenatis fermentum, mi ex luctus urna, non fermentum lectus nisl a
							lectus. Sed viverra vehicula augue, id rutrum elit sodales at. Sed hendrerit nec ipsum a
							cursus. Donec at semper libero, eu ultricies lorem. Nullam leo orci, eleifend quis rhoncus
							a, tristique ac velit. Sed fringilla porta odio nec tempus.
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-body border-top-green">
						<h3 class="card-title text-center">Question 6</h3>
						<hr>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum orci non magna
							dignissim, non commodo mi feugiat. Donec fermentum fringilla metus vitae tincidunt.
							Phasellus laoreet massa non velit varius tristique. Sed blandit malesuada odio non sagittis.
							Cras ultricies congue faucibus. Phasellus id sapien massa. Donec et lectus vel mi
							condimentum scelerisque. Ut ullamcorper accumsan ornare. Vestibulum nec lobortis felis, a
							sollicitudin ante. Nunc mollis nec sem a tristique. Aenean sem neque, porttitor vitae dictum
							et, faucibus eu lorem. Sed in sapien metus. Praesent lobortis odio vel libero gravida
							posuere. Cras lobortis mi ligula, sed aliquam lorem ultricies vel. Maecenas semper feugiat
							leo, ac consequat diam semper sed. Donec ullamcorper, ligula id rhoncus eleifend, tellus
							augue sollicitudin eros, eu aliquet mauris nibh sed lorem.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- page-content -->
