<div class="container h-100">
	<div class="row">
		<div class="col-9 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Sign Up</h5>
					<div class="row align-items-center h-100">
						<div class="col-6">
							<form class="form-signin">
								<div class="form-label-group">
									<input type="text" id="firstNameSignup" class="form-control" name="firstNameSignup"
										   placeholder="First name"
										   required autofocus>
									<label for="firstNameSignup">First name</label>
								</div>

								<div class="form-label-group">
									<input type="text" id="lastNameSignup" class="form-control" name="lastNameSignup"
										   placeholder="Last name"
										   required autofocus>
									<label for="lastNameSignup">Last name</label>
								</div>

								<div class="form-label-group">
									<input type="text" id="usernameSignup" name="usernameSignup" class="form-control"
										   placeholder="Username"
										   required autofocus>
									<label for="usernameSignup">Username</label>
								</div>

								<div class="form-label-group">
									<input type="email" id="emailSignup" name="emailSignup" class="form-control"
										   placeholder="Email address"
										   required autofocus>
									<label for="emailSignup">Email address</label>
								</div>

								<div class="form-label-group mb-5">
									<input type="password" id="passwordSignup" name="passwordSignup"
										   class="form-control"
										   placeholder="Password"
										   required>
									<label for="passwordSignup">Password</label>
								</div>

								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">Remember password</label>
								</div>
								<a href="/">
									<button class="btn btn-lg btn-primary btn-block text-uppercase mb-3" type="button">
										Sign Up
									</button>
								</a>
								<p>Already have an account? <a href="/signin">Sign in</a></p>
							</form>
						</div>

						<div class="col-6 text-center">
							<img src="/images/instagram-logo.png" class="img-fluid" style="max-width: 250px;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
